<div class="footer_line"></div>
<div class="mainContainer">
  <div class="footer">

    <div class="footer_title">URLAUBSGLÜCK</div>

    <div class="footer_company">
      Company
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link" href="#nowhere">About</a>
        </li>
        <li class="footer_item">
          <a class="footer_link" href="#nowhere">Contacts</a>
        </li>
        <li class="footer_item">
          <a class="footer_link" href="#nowhere">Press</a>
        </li>
        <li class="footer_item">
          <a class="footer_link" href="#nowhere">Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer_partners">Partners</div>

    <div class="footer_designed">
      Designed by
      <div class="footer_designedby"></div>
    </div>

  </div>
</div>

