<div class="header_bg">
  <div class="mainContainer">
    <section class="header">
      <div class="header_login">Log in
        <input class="header_singup" type="button" value="Sign up"></input>
      </div>
      <div class="header_title">URLAUBSGLÜCK</div>
      <div class="header_tagline">
        <p>share your</p>
        <p>holiday dreams</p>
      </div>
      <div class="header_partner">
        <p>And find the perfect partner to fullfill it</p>
      </div>
      <input class="header_findbtn" type="button" value="Find your holiday partner"></input>
    </section>
  </div>
</div>
