<div class="mainContainer">
  <div class="howItWork">
    <div class='howItWork_title'>How Urlaubsglück works?</div>

    <div class="swiper-container swiper-container--left">
      <div class="swiper-wrapper">
        <div class="swiper-slide sl1"></div>
        <div class="swiper-slide sl2"></div>
        <div class="swiper-slide sl3"></div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="textwr">
        <div class="textwr_twrap">
          <div class="textwr_btn">
            <a class="textwr_step" href="#nowhere">Step 1</a>
          </div>
          <p class="textwr_title">Sed leo enim, condimentum</p>
          <p class="textwr_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
        </div>
      </div>
    </div>

    <div class="swiper-container swiper-container--center">
      <div class="swiper-wrapper">
        <div class="swiper-slide sl4"></div>
        <div class="swiper-slide sl5"></div>
        <div class="swiper-slide sl6"></div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="textwr">
        <div class="textwr_twrap">
          <div class="textwr_btn">
            <a class="textwr_step" href="#nowhere">Step 2</a>
          </div>
          <p class="textwr_title">Morbi velit risus</p>
          <p class="textwr_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
        </div>
      </div>
    </div>

    <div class="swiper-container swiper-container--right">
      <div class="swiper-wrapper">
        <div class="swiper-slide sl7"></div>
        <div class="swiper-slide sl8"></div>
        <div class="swiper-slide sl9"></div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="textwr">
        <div class="textwr_twrap">
          <div class="textwr_btn">
            <a class="textwr_step" href="#nowhere">Step 3</a>
          </div>
          <p class="textwr_title">Sed leo enim, condimentum</p>
          <p class="textwr_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
        </div>
      </div>
    </div>

  </div>
</div>
