<div class="mainContainer">
  <div class="ideas">
    <div class="ideas_title">Discover holiday activity ideas</div>

    <div class="ideas_grid">
      <div class="ideas_gridsizer"></div>
      <div class="ideas_gridgutter"></div>
      <div class="ideas_griditem"></div>
      <div class="ideas_griditem"></div>
      <div class="ideas_griditem"></div>
      <div class="ideas_griditem"></div>
      <div class="ideas_griditem ideas_griditem-2x"></div>
      <div class="ideas_griditem ideas_griditem-2x"></div>
      <div class="ideas_griditem"></div>
    </div>

    <div class="ideas_title ideas_title-second">Discover holiday activity ideas</div>
    <div class="ideas_interests">Hi! What are your holiday interests?</div>
    <input type="text" class="ideas_question" placeholder="Enter your interests">
    <input type="button" name="ideas_search" class="ideas_search" value="Search partners">
  </div>
</div>
