<div class="mainContainer">
  <div class="partners">

    <div class="partners_title">Meet a partner for your best holiday</div>

    <div class="partners_line">
      <div class="partners_each">
        <div class="partners_photo partners_photo-el1">
          <div class="partners_logo partners_logo-el1"></div>
        </div>
        <div class="partners_name">Bradley Hunter</div>
        <div class="partners_about">Based in Chicago. I love playing tennis and loud music.</div>
      </div>

      <div class="partners_each">
        <div class="partners_photo partners_photo-el2">
          <div class="partners_logo partners_logo-el2"></div>
        </div>
        <div class="partners_name">Lucas Marsha</div>
        <div class="partners_about">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</div>
      </div>
    </div>

    <div class="partners_line">
      <div class="partners_each">
        <div class="partners_photo partners_photo-el3">
          <div class="partners_logo partners_logo-el3"></div>
        </div>
        <div class="partners_name">Heather Walker</div>
        <div class="partners_about">I'm a happy person that loves cats and climbing on mountains.</div>
      </div>

      <div class="partners_each">
        <div class="partners_photo partners_photo-el4">
          <div class="partners_logo partners_logo-el4"></div>
        </div>
        <div class="partners_name">Bradley Hunter</div>
        <div class="partners_about">Based in Chicago. I love playing tennis and loud music.</div>
      </div>
    </div>

  <a class="partners_other">See other partners</a>

  </div>
</div>
