* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5e96c6;
}

    a:hover {
        color: #3f688c;
    }

.wrapper {
    margin: 50px auto;
    border-radius: 6px;
    width: 700px;
    min-height: 250px;
    background-color: white;
}

.wrapper__inner {
    padding: 0 15px;
    min-height: 200px;
}

.nav {
    font-size: 0;
    margin-bottom: 15px;
    padding-top: 15px;
    position: relative;
}

    .nav::after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 1px;
        left: 0;
        border-bottom: 1px solid #ddd;
        z-index: 1;
    }

.nav__item {
    display: inline-block;
    border-radius: 6px 6px 0 0;
    border: 1px solid transparent;
}

    .nav__item:hover {
        background-color: #eee;
    }

.nav__item--active {
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    z-index: 2;
    background-color: white;
}

    .nav__item--active a {
        color: #333333;
        cursor: default;
    }

    .nav__item--active:hover {
        background-color: white;
    }

.nav__link {
    padding: 0 15px;
    display: block;
    line-height: 60px;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.tab__panel {
    display: none;
    padding: 0 15px;
    color: #333333;
}

.tab__panel--active {
    display: block;
}
