body {
    background: #eee;
}


.test__form {
    position: relative;
    width: 800px;
    min-height: 400px;
    margin: 20px auto;
    border: 1px solid rgba(0,0,0,0.5);
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.4) 0 2px 6px 1px;
}

.test__title {
    text-align: center;
}

.test__list {
    line-height: 24px;
}

    .test__list span, .test__list label {
        display: block;
    }

.test__subWrapper {
    text-align: center;
}

    .test__subWrapper > input[type = submit] {
        width: 323px;
        background-color: #cfe2f3;
        height: 48px;
        border: 3px solid rgba(0,0,0,0.6);
        border-radius: 10px;
    }

        .test__subWrapper > input[type = submit]:hover {
            cursor: pointer;
            background: #71a9db;
            border: 3px solid rgba(0,0,0,0.8);
        }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.modal {
    display: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -300px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: rgba(0,0,0,.4) 0 2px 6px 2px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

    .modal > p {
        margin: 30px 0;
    }

    .modal > input[type = button] {
        width: 100px;
        background-color: #cfe2f3;
        height: 32px;
        border: 1px solid rgba(0,0,0,0.6);
        border-radius: 10px;
    }

        .modal > input[type = button]:hover {
            cursor: pointer;
            background: #71a9db;
            border: 1px solid rgba(0,0,0,0.8);
        }

.language {
    position: absolute;
    display: inline-block;
    top: 55px;
    right: 25px;
}

.language a{
    text-decoration: none;
    color: #71a9db;
}
.language a:visited{
    color: #71a9db;
}

.language a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default; /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

