@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    color: #4E443C;
    /*height: 150vh;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
    color: #0388A6;
}

a {
    color: #0388A6;
    text-decoration: none;
}

pre {
    border: 1px solid #000;
    overflow-x: auto;
    background: #222;
    color: #fff;
    text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 20px 20px;
    margin: auto;
}

.jcarousel--wrapper {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


nav {
    background-color: #FF6464;
}

    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    nav li {
        display: inline-block;
    }

.dropdown {
    position: relative;
}

nav a {
    padding: 0 15px;
    display: block;
    line-height: 50px;
    color: white;
    text-decoration: none;
}

    nav a:hover, nav a:focus, nav a:active {
        color: #43353C;
    }

.sub-menu a {
    width: 150px;
    line-height: 40px;
}

.sub-menu li::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: 85%;
    left: 15px;
    background-color: rgb(200,50,50);
    margin: 0 auto;
}

.sub-menu li:last-child:after {
    height: 0px;
}

.sub-menu {
    z-index: 999;
    background-color: #E14B4B;
    position: absolute;
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.dropdown > .sub-menu{
    top: 45px;
}
.dropdown:hover > .sub-menu {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}

.sub-menu .sub-menu {
    top: 0;
    left: 170px;
}

.dropdown > a {
    background-image: url('../img/arrow-down.png');
    background-position: right 23px;
    background-repeat: no-repeat;
}

.sub-menu .dropdown > a {
    background-image: url('../img/arrow-right.png');
    background-position: 160px 16px;
    background-repeat: no-repeat;
}
