* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5e96c6;
}

    a:hover {
        color: #3f688c;
    }

input:focus {
    outline: none;
}

.myform {
    position: relative;
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
    min-height: 200px;
}

    .myform:after {
        content: "";
        display: block;
        clear: both;
    }

.myform_item_wrapper {
    position: relative;
    margin-bottom: 25px;
}

.myform label {
    cursor: pointer;
    padding-right: 200px;
    display: block;
    line-height: 20px;
    vertical-align: middle;
}

input[type='text'] {
    float: right;
}

.tooltip {
    display: none;
    font-size: 12px;
    position: absolute;
    padding: 0 10px;
    border-radius: 6px;
    width: 150px;
    right: 35px;
    top: -5px;
    color: white;
    word-wrap: break-word;
    background: #95a5a6;
}

#target {
    cursor: pointer;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #95a5a6;
}

    #target:hover {
        background-color: #798d8f;
    }

.label1 {
    color: #f39c12;
}

    .label1 input:focus{
        border: 1px solid #f39c12;
        box-shadow: #f39c12 0px 0px 1px;
    }

.label2 {
    color: #3498db;
}

    .label2 input:focus{
        border: 1px solid #3498db;
        box-shadow: #3498db 0px 0px 1px;
    }

.label3 {
    color: #18bc9c;
}

    .label3 input:focus{
        border: 1px solid #18bc9c;
        box-shadow: #18bc9c 0px 0px 1px;
    }
