%up{
    text-transform: uppercase;
}
%medium{
    font-family: 'Ubuntu-Medium';
}
%light{
    font-family: 'Ubuntu-Light';
}
%condensed{
    font-family: 'UbuntuCondensed-Regular';
}
%regular{
    font-family: 'Ubuntu-Regular';
}